* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    min-height: 50vh;
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
   
    padding: 16px;
    background-color: #000;
    margin: 16px;
    color:white;
}

.aluno {
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    background-color: rgb(41, 51, 143);
}
.aluno__nota{
    font-size: 50px;
}
.img{
 
}
.azul{
    background-color: rgb(68, 84, 236);
}
.vermelho{
    background-color: rgb(206, 68, 68);
}
